<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">جميع الحقوق محفوظة &copy; مرابع تميم<br> TamimCamp 2022 bakr.tamimi@gmil.com هذا الموقع مخصص لأغراض تعليمية تقنية خاصة، للمزيد من المعلومات وسياسة الإستخدام يرجى الإتصال  مع </span>
    </div>
</footer>