<footer class="mt-auto">
    <div class="container text-muted text-center shadow-lg p-3 mb-5 bg-transparent rounded d-flex flex-row bd-highlight justify-content-around">
        <div class="p-2 bd-highlight">TamimCamp 2022<br>all rights reserved</div>
        <div class="p-2 bd-highlight">&copy;</div>
        <div class="p-2 bd-highlight">مرابع تميم 2022<br>جميع الحقوق محفوظة</div>
    </div>
    <div class="container text-muted text-center shadow-lg p-3 mb-5 bg-transparent rounded d-flex flex-column bd-highlight justify-content-around">
        <div class="p-2 bd-highlight">هذا الموقع يستعمل لأغراض تعليمية تقنية خاصة فقط ، لكافة المعلومات حول استخدام الموقع يجب مكاتبة اصحاب الموقع على العنوان التالي</div>
        <div class="p-2 bd-highlight">bakr . tamimi @ gmail . com</div>
        <div class="p-2 bd-highlight">This website is for special technical educational purposes, prior authorization to use this website, and its use policies should be obtained by email to the owner address above</div>
    </div>
</footer>