<footer class="mt-auto">
    <div class="container shadow-lg p-3 mb-5 bg-transparent rounded">
        <span class="text-muted">
            <div class="text-center">
                TamimCamp 2022 
                all rights reserved 
                &copy; 
                مرابع تميم 2022 
                جميع الحقوق محفوظة 
        </div>
            <br>
            <div class="text-center">
                هذا الموقع يستعمل لأغراض تعليمية تقنية خاصة فقط ، لكافة المعلومات حول استخدام الموقع يجب مكاتبة اصحاب الموقع على العنوان التالي
            </div>

            <br>
            <div class="text-center">
                bakr . tamimi @ gmail . com
            </div>
            <br>
            <div class="text-center">
                This website is for special technical educational purposes, prior authorization to use this
                website, and its use policies should be obtained by email to the owner address above
            </div>
        </span>
    </div>
</footer>