<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted text-center">جميع الحقوق محفوظة &copy; مرابع تميم TamimCamp 2022
            <br>
            <span dir="RTL" lang="Arabic">
                هذا الموقع يستعمل لأغراض تعليمية تقنية خاصة فقط ، لكافة المعلومات حول استخدام الموقع يجب مكاتبة اصحاب
                الموقع على عنوان البريد الإلكتروني التالي :
            </span>
            <br>
            bakr . tamimi @ gmil . com
            <br>
            This web site is implemeted for special technical educational purposes, prior authorization to use this
            website, and its use policies should be obtained by email to the owner address above
        </span>
    </div>
</footer>