<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            <div class="text-center">
                TamimCamp 2022 &copy; 
                جميع الحقوق محفوظة 
                مرابع تميم 2022 
        </div>
            <br>
            <div class="text-center">
                هذا الموقع يستعمل لأغراض تعليمية تقنية خاصة فقط ، لكافة المعلومات حول استخدام الموقع يجب مكاتبة اصحاب
                الموقع على عنوان البريد الإلكتروني التالي
            </div>

            <br>
            <div class="text-center">
                bakr . tamimi @ gmil . com
            </div>
            <br>
            <div class="text-center">
                This website is for special technical educational purposes, prior authorization to use this
                website, and its use policies should be obtained by email to the owner address above
            </div>
        </span>
    </div>
</footer>