<footer class="footer bg-dark py-3 mt-auto">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">

    <div class="container">
        <span class="text-muted text-center">جميع الحقوق محفوظة &copy; مرابع تميم TamimCamp 2022
            <br>
            <span dir="RTL" lang="ar">
                هذا الموقع يستعمل لأغراض تعليمية تقنية خاصة فقط ، لكافة المعلومات حول استخدام الموقع يجب مكاتبة اصحاب
                الموقع على عنوان البريد الإلكتروني التالي
            </span>
            <br>
            bakr . tamimi @ gmil . com
            <br>
            This website is for special technical educational purposes, prior authorization to use this
            website, and its use policies should be obtained by email to the owner address above
        </span>
    </div>
</footer>