<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TamimCamp مرابع تميم</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@600&display=swap" rel="stylesheet">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">مرابع تميم<br>TamimCamp</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>مرابع تميم<br>TamimCamp</h1>
            <p class="lead">Welcome ! أهلاً و سهلاً <br> تجوّل في مرابع تميم <br>Join in and explore our many campgrounds. <br>
                نرحب بمشاركتك حول المرابع التي زرتها  ونرحب بإضافتك لمرابع جديده، أهلاً و سهلاً
                <br>Feel free to share some of your favorite camps and comment on the camps you visited!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                Campgrounds</a>
        </main>

        <footer class="mt-auto text-white-50">
            <div class="container shadow-lg p-3 mb-5 bg-white rounded">
                <span class="text-muted">
                    <div class="text-center">
                        TamimCamp 2022 
                        all rights reserved 
                        &copy; 
                        مرابع تميم 2022 
                        جميع الحقوق محفوظة 
                </div>
                    <br>
                    <div class="text-center">
                        هذا الموقع يستعمل لأغراض تعليمية تقنية خاصة فقط ، لكافة المعلومات حول استخدام الموقع يجب مكاتبة اصحاب
                        الموقع على عنوان البريد الإلكتروني التالي
                    </div>
        
                    <br>
                    <div class="text-center">
                        bakr . tamimi @ gmail . com
                    </div>
                    <br>
                    <div class="text-center">
                        This website is for special technical educational purposes, prior authorization to use this
                        website, and its use policies should be obtained by email to the owner address above
                    </div>
                </span>
            </div>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>