#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.navbar-brand,
.navbar-nav a {
    font-family: 'Noto Kufi Arabic', serif;;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}